.dropdown-user {
    position: relative;
}
.dropdown-wrapper {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    right: 10px;
    width: 180px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.dropdown-wrapper a {
    padding: 5px 0;
    color: #777;
}
.dropdown-wrapper a:hover {
    color: #555;
}
.dropdown-image {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-bottom: 20px;
}
.link-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

td.lable {
    text-align: right;
    margin-right: 15px;
}
.input-group .input-group-text {
    border-radius: 0%; 
    background-color: #FFF;
}
.table {
    overflow-x: auto;
}
.document-editor__editable-container .ck-editor__editable {
    width: 100%;
    min-height: 9cm;
    max-height: 9cm;
}